In [1]:
import numpy as np
import math
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

%matplotlib inline

In [2]:
df = pd.read_csv('../data/raw/csvs/weather_train.csv')

df['timestamp'] = pd.to_datetime(df['timestamp'])
df.set_index(['site_id','timestamp'], inplace=True)
df.head()

                             air_temperature  cloud_coverage  dew_temperature  \
site_id timestamp
0       2016-01-01 00:00:00             25.0             6.0             20.0
        2016-01-01 01:00:00             24.4             NaN             21.1
        2016-01-01 02:00:00             22.8             2.0             21.1
        2016-01-01 03:00:00             21.1             2.0             20.6
        2016-01-01 04:00:00             20.0             2.0             20.0

                             precip_depth_1_hr  sea_level_pressure  \
site_id timestamp
0       2016-01-01 00:00:00                NaN              1019.7
        2016-01-01 01:00:00               -1.0              1020.2
        2016-01-01 02:00:00                0.0              1020.2
        2016-01-01 03:00:00                0.0              1020.1
        2016-01-01 04:00:00               -1.0              1020.0

                             wind_direction  wind_speed
site_id timestamp
0       2016-01-01 00:00:00             0.0         0.0
        2016-01-01 01:00:00            70.0         1.5
        2016-01-01 02:00:00             0.0         0.0
        2016-01-01 03:00:00             0.0         0.0
        2016-01-01 04:00:00           250.0         2.6

site_id == 13

In [5]:
df_site_13 = df.loc[13].copy()

In [6]:
df_site_13.head()

,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
timestamp,,,,,,,
2016-01-01 00:00:00,-8.3,8.0,-12.2,NaN,1023.3,250.0,4.1
2016-01-01 01:00:00,-8.3,NaN,-11.7,-1.0,1023.3,240.0,4.1
2016-01-01 02:00:00,-7.8,NaN,-11.1,-1.0,1022.9,240.0,3.1
2016-01-01 03:00:00,-7.8,NaN,-11.1,-1.0,1022.7,250.0,4.1
2016-01-01 04:00:00,-7.2,NaN,-10.6,0.0,1022.8,270.0,4.1

In [7]:
df_site_13.to_csv('../data/intermediate/building_1166/weather_site_13.csv')